In [1]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [2]:
# Exercise 3 - Create a markdown cell for an introduction

# In this notebook, Data Science Tools and Ecosystem are summarized

In [12]:
# Exercise 10 - Insert a markdown cell to list Objectives

# Objectives: 
# * List porpular languages for Data Science
# * List porpular libraries for Data Science
# * List of some tools for Data Science
# * Some arithmetic expressions in Data Science

In [3]:
# Exercise 4 - Create a markdown cell to list data science languages

# Some of the popular languages that Data Scientists use are:
# 1. Python
# 2. R
# 3. Java
# 4. SQL

In [4]:
# Exercise 5 - Create a markdown cell to list data science libraries

# Some of the commonly used libraries used by Data Scientists include:
# 1. Pandas
# 2. NumPy
# 3. Scikit-learn
# 4. Matplotlib

In [5]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

# 

| Data Science Tools |
|:------------------:|
| Jupyter Notebok    |
| RStudio            |
| Spyder             |

#

In [6]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are few examples of evaluating arithmetic expressions in Python

In [7]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [8]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [9]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [10]:
# This will convert 200 minutes to hours by dividing by 60
t_sec = 200
t_hrs = t_sec/60
t_hrs

3.3333333333333335

In [13]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Ibrahim Ibrahim